<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="List">Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Roles" asp-action="Index">Roles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Governorate" asp-action="Index">Governorates</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Managements" asp-action="Index">Managements</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Schools" asp-action="Index">Schools</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Grades" asp-action="Index">Grades</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Classes" asp-action="Index">Classes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="UserTypes" asp-action="Index">User Types</a>
    </li>
</ul>
