@{
    ViewBag.Title = "Error";
    string message = ViewData["ErrorMsg"] as string;
}

<hgroup>
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
    <p>
        <strong>Message:</strong> <code>@message</code>
    </p>

    <a asp-action="Index" asp-controller="Home" class="btn btn-link">
        Go back to home
    </a>
</hgroup>  