@model SchoolManagement.Models.Models.UserTypeModel

@{
    ViewData["Title"] = "Edit";
}
<h1>Edit User Type</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.HiddenFor(a => a.Id, Model.Id)
                @Html.HiddenFor(a => a.CreationDate, Model.CreationDate)
                <label asp-for="Id" class="control-label"></label>
                <input value="@Model.Id" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-check form-switch">
                    <input type="checkbox" asp-for="Active" class="form-check-input" />
                    <label asp-for="Active" class="form-check-label"></label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}  