@model SchoolManagement.ViewModels.ViewModels.SeasonVM

@{
    ViewData["Title"] = "Create";
}

@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @ViewBag.Error
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h1>Create Season for @Model.School.Name</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Season.School.Id" value="@Model.School.Id" />

            <div class="form-group">
                <label asp-for="Season.Name" class="control-label"></label>
                <input asp-for="Season.Name" class="form-control" />
                <span asp-validation-for="Season.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Season.From" class="control-label"></label>
                <input type="date" asp-for="Season.From" class="form-control" />
                <span asp-validation-for="Season.From" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Season.To" class="control-label"></label>
                <input type="date" asp-for="Season.To" class="form-control" />
                <span asp-validation-for="Season.To" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <div class="form-check form-switch">
                    <input type="checkbox" asp-for="Activity.Active" class="form-check-input" />
                    <label asp-for="Activity.Active" class="form-check-label"></label>
                </div>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" asp-route-schoolId="@Model.School.Id">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}  